.home-header__parent {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-content {
    width: 45%;
    position: absolute;
    top: 5%;
    left: 0;
}

.home-header__title {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.live-block, .channel-info__tag {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    max-width: 25rem;
    margin-right: 1rem;
    padding: .7rem 1.2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.live-block.empty {
    width: 5rem;
}

.live-block__img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.live-text {
    font-size: 1.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: .5rem;
}

.home-header__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 2.7rem;
    margin: 4rem 0;
    line-height: 1.3em;
    overflow: hidden;
    color: #fff;
    -webkit-line-clamp: 5;
}

.home-header__img {
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: fixed;
    top: 0;
    right: 0;
    /* transition: opacity .8s .2s; */
}

.home-header__img::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%), linear-gradient(0, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
    transform: translateZ(0);
}

.live-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
}

.tag-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .5rem;
}

.home-header__tags {
    display: flex;
    align-items: center;

}

.channel-info__tag {
    font-size: 1.8rem;
    color: #fff;
}